footer {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}
.copyright {
  display: block;
  font-size: 18px;
  font-weight: 400;
  color: var(--text-color);
  text-align: center;
}

.username {
  color: var(--text-color);

  font-weight: bold;
  text-decoration: underline;
}
