.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  width: 100%;
  background-color: var(--background-color);
  box-shadow: 3px 2px 15px 5px rgba(0, 0, 0, 0.05);
  z-index: 1;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }

  &__logo {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 700;
  }

  &__create-post {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 700;
  }
}
