//  POSTS SECTION
.posts-section {
  margin-top: 90px;
}

.posts-section__title {
  margin-top: 120px;
  margin-bottom: 60px;
  font-size: 36px;
  text-align: center;
}
.post {
  &-list {
    // margin: 80px auto 0;
    // align-items: stretch ;
    // box-sizing: border-box;
    // display: flex;
    // justify-content: flex-start !important;
    // column-gap: 10px;
    // flex-wrap: wrap;
    // width: 950px;
    padding: 0;
    gap: 10px 10px;

    @include responsive(767px) {
      margin: 0;
      row-gap: 20px;
    }
  }

  &__item {
    width: 310px;
    height: 310px;
    padding: 0;
    position: relative;
    transition: all 1s linear;
    cursor: pointer;
    border: 1px solid #999;

    @include responsive(767px) {
      width: 100%;
      height: unset;
    }

    &:hover .post__item--body {
      opacity: 1;
      transition: all 0.3s linear;
    }

    &--body .item__user {
      font-size: 18px;
      margin-bottom: 8px;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1; /* number of lines to show */
      -webkit-box-orient: vertical;
    }

    &--body .item__desc {
      font-size: 16px;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__item--body {
    width: 100%;
    padding: 8px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;

    @include responsive(992px) {
      opacity: 1;
    }
  }
}
