@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");
:root {
  /* --primary-color: #c8b6a6; */
  /* --secondary-color: # */
  --background-color: #fff;
  --text-color: #1a120b;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--background-color);
  position: relative;
  min-height: 100vh;
}

input,
textarea,
select,
button {
  outline: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-color);
  -webkit-box-shadow: 3px 2px 15px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 3px 2px 15px 5px rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.nav__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.nav__logo {
  color: var(--text-color);
  font-size: 24px;
  font-weight: 700;
}

.nav__create-post {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 700;
}

.posts-section {
  margin-top: 90px;
}

.posts-section__title {
  margin-top: 120px;
  margin-bottom: 60px;
  font-size: 36px;
  text-align: center;
}

.post-list {
  padding: 0;
  gap: 10px 10px;
}

@media screen and (max-width: 767px) {
  .post-list {
    margin: 0;
    row-gap: 20px;
  }
}

.post__item {
  width: 310px;
  height: 310px;
  padding: 0;
  position: relative;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  cursor: pointer;
  border: 1px solid #999;
}

@media screen and (max-width: 767px) {
  .post__item {
    width: 100%;
    height: unset;
  }
}

.post__item:hover .post__item--body {
  opacity: 1;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.post__item--body .item__user {
  font-size: 18px;
  margin-bottom: 8px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.post__item--body .item__desc {
  font-size: 16px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.post__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.post__item--body {
  width: 100%;
  padding: 8px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
}

@media screen and (max-width: 992px) {
  .post__item--body {
    opacity: 1;
  }
}

#postDetailModal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
}

#postDetailModal.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#closeDetailBtn {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  font-size: 24px;
}

.detail-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: auto;
  height: 683px;
  background-color: #000;
}

.detail-img {
  max-width: 550px;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.detail-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 20px;
  width: 500px;
  background-color: var(--background-color);
}

.user-name {
  font-size: 18px;
  margin-bottom: 10px;
}

.user-desc {
  font-size: 16px;
  color: #333;
}

button.delete-btn {
  font-size: 20px;
  width: auto;
  text-align: right;
}

#createNewPostModal {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

#createNewPostModal.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create-new-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
  padding: 20px;
  width: auto;
  max-width: 1050px;
  height: 520px;
  background-color: #fff;
  border-radius: 12px;
}

.create-new-content h2 {
  font-size: 28px;
  font-weight: 600;
}

.create-new-content .editor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#closeCreateBtn {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  font-size: 24px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  width: 100%;
}

.editor-panel {
  width: 280px;
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.editor-panel .title {
  display: block;
  font-size: 16px;
  margin-bottom: 12px;
  font-weight: 500;
}

.editor-panel .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.editor-panel button {
  margin-bottom: 8px;
  height: 40px;
  font-size: 14px;
  color: #6c757d;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
}

.editor-panel .filter button {
  width: calc(100% / 2 - 4px);
  cursor: pointer;
}

.filter button.active {
  color: #fff;
  background-color: #5372f0;
  border-color: #5372f0;
}

.filter .slider {
  margin-top: 12px;
}

.filter .slider .filter-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #464646;
  font-size: 14px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter .slider input {
  width: 100%;
  height: 5px;
  accent-color: #5372f0;
}

.wrapper .preview-img {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
  width: 520px;
}

.preview-img img {
  max-width: 500px;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.controls button {
  font-size: 14px;
  padding: 11px 20px;
  border-radius: 3px;
  color: #fff;
  background-color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

.controls .reset-filter {
  margin-right: auto;
  color: #6c757d;
  border: 1px solid #6c757d;
}

.controls .choose-img {
  background-color: #6c757d;
  border: 1px solid #6c757d;
}

.controls .save-filter {
  margin-left: 5px;
  background-color: #5372f0;
  border: 1px solid #5372f0;
}

#formCreateNewPost {
  display: none;
}

#formCreateNewPost label {
  font-size: 16px;
  color: #828282;
  font-weight: 500;
  margin-bottom: 5px;
}

#formCreateNewPost input {
  width: 100%;
  border: none;
  border-radius: 8px;
  background: #f7f7f7;
  padding: 15px;
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
}

#formCreateNewPost button {
  text-transform: uppercase;
  font-size: 14px;
  background-color: #aacb73;
  padding: 12px 20px;
  border-radius: 3px;
  color: #fff;
  margin-top: 10px;
}

footer {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.copyright {
  display: block;
  font-size: 18px;
  font-weight: 400;
  color: var(--text-color);
  text-align: center;
}

.username {
  color: var(--text-color);
  font-weight: bold;
  text-decoration: underline;
}
/*# sourceMappingURL=app.css.map */